<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLConnection" connectionString="Server=DESKTOP-8L9I73I;database=OrderCenter_Customs;Uid=sa;Pwd=1qaz2wsxE" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="779"/>
    <add key="TimeOut" value="60000"/>
    <add key="LogFileName" value="Log.txt"/>
    <!-- your Developer Id with eBay -->
    <!-- For production site use: 6d29c534-e482-45ce-99be-0fc0e82ff138 -->
    <!-- For Sandbox use: 6d29c534-e482-45ce-99be-0fc0e82ff138 -->
    <add key="Environment.DevId" value="6d29c534-e482-45ce-99be-0fc0e82ff138"/>
    <!-- your Application Id with eBay -->
    <!-- For production site use: FlyingSn-c722-4181-bc17-9e52dd89898c -->
    <!-- For Sandbox use: FlyingSn-1794-436b-9be4-9f7c092c6ffa -->
    <add key="Environment.AppId" value="FlyingSn-c722-4181-bc17-9e52dd89898c"/>
    <!-- your Application Certificate with eBay -->
    <!-- For production site use: 91fd789f-f89e-41cf-983a-3ab17553b896 -->
    <!-- For Sandbox use: f3ac456e-231c-479b-b132-661908101887 -->
    <add key="Environment.CertId" value="91fd789f-f89e-41cf-983a-3ab17553b896"/>
    <!-- API Server URL -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Environment.ApiServerUrl" value="https://api.ebay.com/wsapi"/>
    <!-- EPS Server URL -->
    <!-- For production site use: https://api.ebay.com/ws/api.dll"/-->
    <!-- For Sandbox use: https://api.sandbox.ebay.com/ws/api.dll -->
    <add key="Environment.EpsServerUrl" value="https://api.ebay.com/ws/api.dll"/>
    <!-- eBay Signin URL -->
    <!-- For production site use: https://signin.ebay.com/ws/eBayISAPI.dll?SignIn -->
    <!-- For Sandbox use: https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn -->
    <add key="Environment.SignInUrl" value="https://signin.ebay.com/ws/eBayISAPI.dll?SignIn"/>
    <!-- ViewItem URL -->
    <!-- For production site use: http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0} -->
    <!-- For Sandbox use: http://cgi.sandbox.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0} -->
    <add key="Environment.ViewItemUrl" value="http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0}"/>
    <!-- token is for both API server and EPS server -->
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**uDHUVQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHkYahCJeAoQqdj6x9nY+seQ**QvYCAA**AAMAAA**RjBVwdvyheMl2pzeNpqWJ7WuJyI3aNyZXmUwXqdWjr/Qi6Npkv9voRbOn9HoplJHWO8QtEh16Z++bVqQhEOrZxaoRAECeFpdhjFDWG+b0hp8sGfMetjdlfsgXGo5OWwYQbwnZ9prJ58YcVnYPU62eT5AtK3NGy5CUwLSiAYayuPkOzIn1hdNiIOywN4Augd9LH/a6sE4Al35pl5LqLVl/DbGS4SdkIHQ0McXAa+mFTyCTFiQruogUz/7R7O+vgIC30kOg3XSA8Uas3gCo8R3k9iu5+Gtmxv1sCtJc/mTiEux3aGnKOamP/vvLQ2509//VqyE107pld9ZYzphwfYTxDDQmL0MFFULm+cQJcEbBPt4PvyETr/0/2K8fmOcMbWPjNtENkcgRGL3weAKWlX/Lruf40tEYEH6tF1b6tiIFP1UpF9tzOup8ZH5gCpqrWPjemmp8r7PLd6/nfVddOb6I5HS+iLhsn2Z99r2ZSv5OnOW18oX362cy2PTZpSdvnrITuIYLThCugifCzOI9IafrTPIgBa9qIotmfm3mhFhIWxha4pcYrW6mrqDbqWEoqKO29R6P/Cekayty75caV+kuipQgGhk0GESZrhghTEOnZb31zXg3SJ8Or+1P11zJUJCIXtV4THoNRI08Z1Ic7r3ILxooEE21bIWpal06W6c6iagV7iFCZejJTMHbVeKdTQX7sg1cBZY7VDvKwJety5gzTYrINlshpEoZKAjHXTThZxuv1d0GLDxkYPVvzcBOo6W"/>
    <!-- eBay site ID -->
    <add key="UserAccount.eBayUserSiteId" value="0"/>
    <add key="logexception" value="true"/>
    <add key="logmessages" value="true"/>
    <add key="logsdkmessages" value="true"/>
    <add key="logsdk" value="true"/>
    <add key="logfile" value="Log.txt"/>
    <!-- Rule Name-->
    <add key="RuName" value=""/>
    <!-- Set this if you access eBay API server behind a proxy server-->
    <add key="Proxy.Host" value=""/>
    <add key="Proxy.Port" value=""/>
    <!-- set proxy server username/password if necessary-->
    <add key="Proxy.Username" value=""/>
    <add key="Proxy.Password" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>